@charset "utf-8";
$red: #e75141;
$gray: #787b83;
@mixin triangle($value) {
  position: absolute;
  top: 50%;
  #{$value}: 0;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-#{$value}: 30px solid #fff;
}
.clearfix {
  *zoom: 1;
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}
* {
  margin: 0;
  padding: 0;
}
/*header*/
header {
  margin: 15px 0 0 50px;
  font: 15px "微软雅黑";
  img {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 35px;
  }
  h1 {
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    color: #393a3a;
  }
  ul {
    float: right;
    margin: 0 30px 24px 0;
  }
  li {
    display: inline-block;
    padding: 0 15px 22px 15px;
  }
  a {
    text-decoration: none;
    color: $gray;   
  }
  .nav-first {
    border-bottom: 3px solid $red;
    a {
      color: $red;
    }
  }
  .nav-last {
    img {
      width: 20px;
      height: 20px;
    }
    a {
      vertical-align: middle;
      color: $red;
    }
  }
}

/*@section*/
.first-row {
  position: relative;
  width: 100%;
  img {
    margin-top: -25px;
    width: 100%;
    height: 690px;
  } 
  div {
    position: absolute;
    top: 210px;
    left: 115px;
    width: 455px;
    height: 230px;
    font-family: "微软雅黑";
  h2 {
    font-size: 58px;
    color: #fff;
    font-weight: normal;
  }
  h3 {
    padding-left: 10px;
    font-size: 21px;
    color: #fffdfd;
    font-weight: normal;
    }
  }
  button {
    margin-top: 48px;
    padding-left: 10px;
    width: 328px;
    height: 68px;
    border: none;
    background: $red;
    font-size:  28px;
    color: #fff;
  }
}
.second-row {
  margin: 0 0 -20px -10px;
  div {
    display: inline-block;
    width: 312px;
    height: 250px;
    font-size: 15px;
    color: $gray;
  }
  img {
    padding: 40px 135px 40px 135px;
    width: 42px;
    height: 42px;
  }
  p {
    text-align: center;
    border-left: 2px solid $gray;
  }
}
.third-row {
  padding-top: 85px;
  height: 331px;
  text-align: center;
  background: #ededed;
  img {
    width: 97px;
    height: 97px;
  }
  p {
    font-size: 51px;
    color: #a1a1a1;
  }
}
.fouth-row {
  position: relative;
  margin-top: -40px;
  padding-top: 55px;
  height: 338px;
  background: #f7f7f7;
  background-image: url(./map.png);
  background-repeat: no-repeat;
  .red-mask {
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 338px;
    background: $red;
    opacity: .2;
    filter: alpha(opacity=20);
  }
  .fouth-p1 {
    text-align: center;
    font-size: 21px;
    color: #fff;
  } 
  .fouth-p2 {
    text-align: center;
    font-size: 13px;
    color: #f4f0ee;
  }
  div {
    margin: 54px 0 0 128px;
  }
}
select {
  margin-right: 31px;
  padding-left: 10px;
  width: 237px;
  height: 37px;
  background-color: #fff;
  background: url(./select.png) no-repeat right #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
button {
  width: 237px;
  height: 37px;
  border: none;
  background: #bf4f48;
}
.fifth-row {
  padding: 40px 0 0 149px;
  height: 506px;
  background: #f7f7f7;
  div {
    display: inline-block;
    margin: 0 37px 0 0;
    width: 219px;
    height: 395px;
    img {
      padding: 8px;
      border: 1px solid #dedede;
    }
  }
  p {
    margin: 5px 0;
    text-align: center;
    font-size: 15px;
  }
  .p-up {
    margin: 5px 0;
    white-space: pre;
    line-height: 20px;
    font-size: 21px;
  }
  span {
    font-size: 13px;
    color: #9e9f9f;
  }
}
.sixth-row {
  text-align: center;
  font-family: "微软雅黑";
  color: #fff;
  .newworld-img {
    float: left;
    position: relative;
    width: 850px;
    height: 565px;
    background-image: url(./newworld.png);
    background-repeat: no-repeat;
    div {
      @include triangle(right);
    }
  }
  h1 {
    margin-top: 134px;
    font-size: 49px;
  }
  h2 {
    line-height: 121px;
    font-size: 121px;
  }
  h3, h4 {
    margin: 10px;
    font-size: 22px
  }
  .newworld-text {
    float: right;
    margin: 0 71px 0 53px;
    width: 270px;
    border: 1px solid #fff;
    font-family: "黑体";
    color: #000;
    p {
      margin: 165px 0 20px 0;
      font-size: 22px;
      span {
        color: $red;
      }
    }
    .dot {
      float: left;
      margin: 25px 0 0 20px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      border: 2px solid #929393;
      color: #929293; 
    }
    .gray {
      margin-left: 96px;
      background: #929393;
    }
  }
  .newworld-content {
    margin-bottom: 30px;
    line-height: 31px;
    font-size: 13px;
    color: #cfcfcf;
    text-align: left;
  }
  button {
    margin: 0 auto;
    width: 106px;
    height: 30px;
    border: 2px solid #e4666a;
    background: #fff;
    font-size: 14px;
    color: #e4666a;
  }
}
.sev-row {
  .sev-col {
    float: left;
    width: 424px;
    height: 523px;
    font-size: 22px;
    p {
      margin-top: 174px;
      text-align: center;
    }
    button {
      margin-left: 128px;
      width: 170px;
      height: 43px;
      font-size: 21px;
      background: #fff;
    }
  }
  .col1 {
    background: $red;
    color: #fff;
    button {
      border: 1.5px solid #fff;
      background: $red;
    }
  }
  .col2 {
    button {
      border: 1.5px solid $red;
      color: $red;
    }
  }
  .col3 {
    float: left;
    position: relative;
     div {
    @include triangle(left);
    }
  }
  img {
    width: 415px;
    height: 523px;
  }
}
.eig-row {
  width: 100%;
  height: 200px;
  text-align: center;
  h1 {
    margin: 117px 0 7px 0;
    font-size: 21px;
    color: #323333;
  }
  hr {
    margin: 0 auto;
    width: 34px;
    border: 1.5px solid $red;
  }
  h2 {
    margin-top: 10px;
    font-size: 13px;
    color: #cfcfcf;
  }
}
.nin-row {
  .info {
    float: left;
    margin: -10px 74px 0 136px;
    width: 280px;
    height: 282px;
  }
  h2 {
    margin-top: 10px;
    font-size: 15px;
    color: #323333;
  }
  .special-h2 {
    margin-top: 30px;
  }
  p {
    margin: 20px 0 5px 0;
    font-size: 12px;
    color: #cfcfcf;
  }
  span {
    img {
      margin-right: 5px;
      vertical-align: middle;
    }
    margin-left: 220px;
    font-size: 13px;
    color: #cfcfcf;
}
  input,
  button,
  textarea {
    border: none;
    background: #ededee;
    color: #8a8a8a;
  }
  input {
    margin: 0 21px 15px 0;
    padding-left: 10px;
    width: 310px;
    height: 38px;    
  }
  textarea {
    padding: 10px 0 0 10px;
    height: 113px;
    width: 655px;
    color: #8a8a8a;
  }
  button {
    margin-top: 10px;
    width: 665px;
    height: 43px;
    text-align: center;
    font-size: 16px;
    color: #323333;
  }
}
.ten-row {
  margin-top: 159px;
  padding-top: 91px;
  width: 100%;
  height: 269px;
  text-align: center;
  background: #32363e;
  color: #e6e6e6;
  h1 {
    margin-bottom: 10px;
    font-size: 21px;
  }
  h2 {
    margin-bottom: 20px;
    font-size: 12px;
  }
  form {
    input[type="email"] {
      width: 353px;
      height: 40px;
    }
    input[type="submit"] {
      // margin-left: -5px;
      width: 79px;
      height: 42px;
      // border: none;
      background-color: #6f7278;
      color: #e6e6e6;
    }
  }
}
footer {
  
}