.container {
  width: 100%;
  min-width: 1280px;
  font-family: "Microsoft Yahei";
}

/*header*/
header {
  width: 100%;
  height: 60px;
}
.left-title {
  display: inline-block;
  position: relative;
  left: 7%;
  width: 11%;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  background: url(./img/bookshelf.png) no-repeat left;
  background-size: 16% 50%;
}
header h1 {
  font-size: 24px;
}
header ul {
  display: inline-block;
  position: relative;
  left: 45%;
  width: 30%;
  height: 60px;
  line-height: 60px;
}
header li {
  display: inline-block;
  width: 19%;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}
header a {
  color: #000;
}
header li:hover a {
  color: #F04c57;
}
.underline {
  position: absolute;
  top: 55px;
  left: 0;
  border-top: 4px solid #E53C3C;
  transition: left .4s ease-in-out;
  -moz-transition: left .4s ease-in-out;
  -webkit-transition: left .4s ease-in-out;
}
header li:nth-child(1):hover ~ .underline {
  left: 0;
}
header li:nth-child(2):hover ~ .underline {
  left: 20%;
}
header li:nth-child(3):hover ~ .underline {
  left: 40%;
}
header li:nth-child(4):hover ~ .underline {
  left: 60%;
}
header li:nth-child(5):hover ~ .underline {
  left: 80%;
}
.right-banner {
  display: inline-block;
  position: relative;
  left: 50%;
  width: 7%;
  height: 60px;
  line-height: 60px;
  font-size: 14px;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  background: url(./img/person.png) no-repeat left;
  background-size: 18px 18px;
  color: #E53C3C;
}
.underline2 {
  position: absolute;
  top: 45px;
  left: 25%;
  width: 0;
  border-top: 2px solid #E53C3C;
  transition: width .4s ease-in-out;
  -moz-transition: width .4s ease-in-out;
  -webkit-transition: width .4s ease-in-out;
}
.right-banner span:hover ~ .underline2 {
  width: 50px;
}

/*@section*/
.first-row {
  width: 100%;
  height: 650px;
  background-image: url(./img/banner1.png);
  background-size: 100% auto;
  border: 1px solid #fff;
}
.first-row div {
  margin: 210px 0 0 115px;
}
.first-row h2 {
  font-weight: normal;
  font-size: 58px;
  color: #fff;
}
.first-row h3 {
  padding-left: 10px;
  font-weight: normal;
  font-size: 21px;
  color: #fffdfd;
}
.first-row button {
  margin-top: 48px;
  padding-left: 10px;
  width: 328px;
  height: 68px;
  border: none;
  background: #e75141;
  font-size: 28px;
  color: #fff;
}
.second-row {
  display: inline-block;
  margin-left: -3px;
  width: 100%;
  font-size: 0;
}
.second-row div {
  display: inline-block;
  width: 25%;
  height: 250px;
  font-size: 15px;
  color: #787b83;
}
.second-row img {
  padding: 40px 135px 40px 135px;
  width: 42px;
  height: 42px;
}
.second-row p {
  text-align: center;
  border-left: 2px solid #787b83;
}
.third-row {
  padding-top: 85px;
  width: 100%;
  height: 331px;
  text-align: center;
  background: #ededed;
}
.third-row img {
  width: 97px;
  height: 97px;
}
.third-row p {
  font-size: 51px;
  color: #a1a1a1;
}
.fouth-row {
  position: relative;
  padding-top: 55px;
  margin-top: -40px;
  height: 338px;
  background: url(./img/map.png) no-repeat #f7f7f7;
  background-size: 100% auto;
}
.fouth-row .red-mask {
  position: absolute;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 338px;
  background: #e75141;
  opacity: .2;
  filter: alpha(opacity=20);
}
.fouth-row .fouth-p1 {
  text-align: center;
  font-size: 21px;
  color: #fff;
}
.fouth-row .fouth-p2 {
  margin-bottom: 54px;
  font-size: 13px;
  text-align: center;
  color: #f4f0ee;
}
.fouth-row div {
  position: relative;
  margin: 0 auto;
  width: 90%;
  z-index: 1;
}
select {
  padding-left: 10px;
  margin-right: 31px;
  width: 20%;
  height: 37px;
  background-color: #fff;
  background: url(./img/select.png) no-repeat right #fff;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
button {
  width: 20%;
  height: 37px;
  border: none;
  background: #bf4f48;
}
.fifth-row {
  width: 100%;
  height: 506px;
  background: #f7f7f7;
  border: 1px solid #fff                                                                                                                                                                                                                                                                                                                        ;
}
.four-pic {
  margin: 105px 10%;
  font-size: 0;
}
.four-pic div {
  display: inline-block;
  width: 25%;
  height: 395px;
  text-align: center;
}
.fifth-row div img {
  padding: 8px;
  border: 1px solid #dedede;
}
.fifth-row p {
  margin: 5px 0;
  font-size: 15px;
}
.fifth-row .p-up {
  margin: 5px 0;
  white-space: pre;
  line-height: 20px;
  font-size: 20px;
}
.fifth-row span {
  font-size: 13px;
  color: #9e9f9f;
}
.sixth-row {
  width: 100%;
  height: 560px;
  text-align: center;
  color: #fff;
}
.newworld-img {
  float: left;
  position: relative;
  width: 66.3%;
  height: 560px;
  background: url(./img/newworld.png) no-repeat;
  background-size: cover;
}
.newworld-img::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  content: " ";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid #fff;
}
.sixth-row h1 {
  margin-top: 134px;
  font-size: 49px;
}
.sixth-row h2 {
  line-height: 121px;
  font-size: 121px;
}
.sixth-row h3, .sixth-row h4 {
  margin: 10px;
  font-size: 22px;
}
.newworld-text {
  padding: 0 5%;
  margin-left: 66.6%;
  border: 1px solid #fff;
  color: #000;
}
.newworld-text p {
  margin: 165px 0 20px 0;
  font-size: 22px;
}
.newworld-text span {
  color: #e75141;
}
.newworld-content {
  margin-bottom: 30px;
  line-height: 31px;
  font-size: 13px;
  text-align: left;
  color: #cfcfcf;
}
.sixth-row button {
  margin: 0 auto;
  width: 106px;
  height: 30px;
  border: 2px solid #e4666a;
  font-size: 14px;
  background: #fff;
  color: #e4666a;
}
.newworld-content ~ div {
  margin: 0 auto;
  width: 106px;
}
.gray {
  background: #929393;
}
.dot {
  float: left;
  margin: 25px 0 0 18px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #929393;
  color: #929293;
}
.sev-col {
  float: left;
  width: 33.1%;
  height: 523px;
  font-size: 22px;
}
.sev-col p {
  margin-top: 174px;
  text-align: center;
}
.sev-col button {
  display: block;
  margin: 0 auto;
  width: 170px;
  height: 43px;
  font-size: 21px;
  background: #fff;
}
.col1 {
  background: #e75141;
  color: #fff;
}
.col1 button {
  border: 1.5px solid #fff;
  background: #e75141;
}
.col2 button {
  border: 1.5px solid #e75141;
  color: #e75141;
}
.col3 {
  position: relative;
  margin-left: 66.2%;
}
.col3::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 0;
  content: " ";
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #fff;
}
.sev-row img {
  width: 100%;
  height: 523px;
}
.eig-row {
  width: 100%;
  height: 200px;
  text-align: center;
}
.eig-row h1 {
  margin: 117px 0 7px 0;
  font-size: 21px;
  color: #323333;
}
.eig-row hr {
  margin: 0 auto;
  width: 34px;
  border: 1.5px solid #e75141;
}
.eig-row h2 {
  margin-top: 10px;
  font-size: 13px;
  color: #cfcfcf;
}
.nin-row {
  width: 100%;
}
.nin-row .left {
  display: inline-block;
  margin-left: 5%;
  width: 30%;
}
.nin-row .info {
  width: 300px;
  height: 282px;
}
.nin-row h2 {
  margin-top: 10px;
  font-size: 16px;
  color: #323333;
}
.nin-row .special-h2 {
  margin-top: 30px;
}
.nin-row p {
  margin: 20px 0 5px 0;
  font-size: 13px;
  color: #cfcfcf;
}
.nin-row span {
  margin-left: 240px;
  font-size: 13px;
  color: #cfcfcf;
}
.nin-row img {
  margin-right: 5px;
  vertical-align: middle;
}
.nin-row .form {
  display: inline-block;
  width: 700px;
  font-size: 0;
}
.nin-row input, .nin-row button, .nin-row textarea {
  border: none;
  background: #ededee;
  color: #8a8a8a;
}
.nin-row input {
  padding-left: 10px;
  margin: 0 21px 15px 0;
  width: 310px;
  height: 38px;
}
.nin-row textarea {
  padding: 10px 0 0 10px;
  width: 655px;
  height: 113px;
  color: #8a8a8a;
}
.nin-row button {
  margin-top: 10px;
  width: 665px;
  height: 43px;
  text-align: center;
  font-size: 16px;
  color: #323333;
}
.ten-row {
  padding-top: 91px;
  margin-top: 140px;
  width: 100%;
  height: 269px;
  text-align: center;
  background: #32363e;
  color: #e6e6e6;
}
.ten-row h1 {
  margin-bottom: 10px;
  font-size: 21px;
}
.ten-row h2 {
  margin-bottom: 20px;
  font-size: 12px;
}
input[type="email"] {
  width: 433px;
  height: 40px;
}
.ten-row button {
  margin-left: -5px;
  width: 79px;
  height: 41px;
  vertical-align: middle;
  border-color: #6f7278;
  background-color: #6f7278;
  color: #e6e6e6;
}
.ten-row div {
  margin-top: 35px;
}
.ten-row img {
  margin-right: 21px;
  width: 28px;
  height: 28px;
}
footer {
  position: relative;
  width: 100%;
  height: 56px;
  background: #2f2f38;
  color: #fff;
}
footer span {
  position: absolute;
  top: 50%;
  left: 98px;
  font-size: 10px;
}
footer a {
  position: absolute;
  top: 50%;
  right: 41px;
  text-decoration: none;
  font-size: 10px;
  color: #fff;
}
